@use 'variables' as v; 
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;
}
@include m.desktop {
    body{
        font-size: 1.8rem;
    }
    
}

p {
    color: v.$dark;
    font-size: 2rem;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: v.$dark;
}
li{
    list-style: none;
    
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    margin: 0 0 v.$separacion  0 ;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}
@include m.desktop {
    h1{
        font-size: 8rem;
        
    }
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
}
@include m.desktop {
    h2{
        font-size: 4rem;
    
    }
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}
@include m.tablet {
    h3{
        font-size: 2.4rem;
    }
}