// Fuentes
$fuente_principal: 'Inter', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 601px;
$desktop: 1024px;

// Colores
$purple: #8E7BEF;
$dark: #222222; 
$yellow: #FCDA68;
$white: #FFFFFF;
$darkGray: #423F40;
$lightGray: #F9F5F2;

$separacion: 5rem;
