@use 'base/variables' as v; 
@use 'base/mixins' as m;

.portafolio{
    margin-top: 10rem;
    
    &__padre{
        @include m.tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include m.desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__flex{
        margin-bottom: 4rem;
        @include m.desktop {
            margin-bottom: 0;
        }
    }

    &__flex:last-of-type{
        margin-bottom: 0;
    }

    &__description{
        margin: 0;
        margin-bottom: 2rem;
        color: v.$purple;
        @include m.tablet {
            text-align: center;
        }
        @include m.desktop {
            text-align: start;
        }
    }

    &__img{
        @include m.tablet {
            width: 39.3rem;
            height: 29.7rem;
        }
        @include m.desktop {
            width: 34.3rem;
            height: 24.7rem;
        }
        
    }
}